<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detailed Posts for id <%= post.id %></title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <h1>Your detail posts</h1>
    <h3>ID: <%= post.id %></h3>
    <h2>@<%= post.username %></h2>
    <p><%= post.content %></p>
</body>
</html>